#include("../admin/content_layout.html")

<!-- 调用layout函数 -->
#@layout()
<!-- 引入额外的css -->
#define css()
<style>
</style>
#end

<!-- 引入额外的js -->
#define js() 
#end
<!-- 主体内容 -->
#define content()
<div class="layui-fluid">
<div class="layui-card">
          <div class="layui-card-header">
            数据元字段 #(type??)
          </div>
          <div class="layui-card-body" id="listFieldAll">
            <div class="layui-row layui-col-space10" id="listField">
              #for(x:fieldJson.list)
	            <div class="layui-col-xs12 layui-col-sm4">
	              <div class="layuiadmin-card-text">
	                <div class="layui-text-top"><i class="layui-icon layui-icon-water"></i><b>#(x.columns.fieldname)</b></div>
	                <div><a lay-href="http://www.layui.com/doc/modules/flow.html">#(x.columns.fieldid)   [#(x.columns.fieldtype)] </a></div>
	                <p class="layui-text-center">#(x.columns.fielddesc)</p>
	                <div style="float:right;"><a class="layui-icon layui-icon-edit"  onclick="openedit('#(x.columns.fieldid)')"></a>&nbsp;&nbsp;<i class="layui-icon layui-icon-delete"></i></div>
	              </div>
	            </div>
            #end
            </div>
          </div>
          <div id="demo7" style="float:right;"></div>
        </div>
        </div>
#end


<!-- 引入额外的js -->
#define imp_js()
	<script>
        var fieldtype = #(fieldJson??);
        var id = #(id??);
        var total = fieldtype.totalRow;
		layui.use(['laypage', 'layer'], function(){
			  var laypage = layui.laypage
			  ,layer = layui.layer;
			  //完整功能
			  laypage.render({
			    elem: 'demo7'
			    ,count: total
			    ,limit:9
			    ,limits:[6,9,12,15,18]
			    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
			    ,jump: function(obj){
			      console.log(obj)
				    //obj包含了当前分页的所有参数，比如：
				    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
				    console.log(obj.limit); //得到每页显示的条数
				    	$.get(ctx + "/system/fieldManager/field?id="+id+"&pages="+obj.curr+"&limit="+obj.limit,
							function(data) {
				    		 console.log(data.list);
				    	      var parent=document.getElementById("listFieldAll");
				    	      var child=document.getElementById("listField");
				    	      parent.removeChild(child); 
				    	      var list = data.list;
				    	      var html = '<div class="layui-row layui-col-space10" id="listField">';
				    	      for (var i = 0; i < list.length; i++) {				    	    	  
				    	    	  var ht = '<div class="layui-col-xs12 layui-col-sm4"><div class="layuiadmin-card-text">'
                                            +'<div class="layui-text-top"><i class="layui-icon layui-icon-water"></i><b>'+list[i].columns.fieldname+'</b></div>'
					               +' <div><a lay-href="http://www.layui.com/doc/modules/flow.html">'+list[i].columns.fieldid   +'   ['+list[i].columns.fieldtype +']</a></div>'
					               +'<p class="layui-text-center">'+list[i].columns.fielddesc+'</p><div style="float:right;"><a class="layui-icon layui-icon-edit"  onclick="openedit(&quot;'+list[i].columns.fieldid+'&quot;)"></a>&nbsp;&nbsp;<i class="layui-icon layui-icon-delete"></i></div>'
					               +' </div>'
					               +' </div>'
					               html+=ht;
							  }
				    	      html+='</div>'
/* 				    	      document.getElementById("listFieldAll").innerHTML = document.getElementById("insert").innerHTML.replace("<table><tbody><tr><td>"+modelId+"被选中</td></tr></tbody></table>","");   
 */				    	      document.getElementById("listFieldAll").innerHTML = html;
				    	      
							});
			    }
			  });
			  
			  
			});
		
		 function openedit(id){
			 //添加文章
			    	var index;
			    		index = layui.layer.open({
			                title : "编辑字段",
			                type : 2,
			                area:["500px","500px"],
			                content : ctx+"/system/fieldManager/edit/" + id,
			                success : function(layero, index){
			                   /*  var body = layui.layer.getChildFrame('body', index);
			                    console.log(body); */
			                }
			            })
			    
		 }
		  
	</script>
#end
