#include("../admin/content_layout.html")

<!-- 调用layout函数 -->
#@layout()
<!-- 引入额外的css -->
#define css()
<style>
</style>
#end

<!-- 引入额外的js -->
#define js() 
#end
<!-- 主体内容 -->
#define content()
<div class="layui-fluid">
<div class="layui-card">
          <div class="layui-card-header">
            	数据元字段 #(type??)
            	<button class="layui-btn layui-btn-sm" style="float: right;margin-top: 6px;" onclick="addField()">添加</button>
          </div>
          <div class="layui-card-body" id="listFieldAll">
             <div class="layui-row layui-col-space10" id="listField">
             #for(x:fieldJson.list)
	            <div class="layui-col-xs12 layui-col-sm4">
	              <div class="layuiadmin-card-text">
	                <div class="layui-text-top"><i class="layui-icon layui-icon-note" style="position:relative;top:3px;"></i><b>#(x.columns.fieldname)</b></div>
	                <div><a lay-href="http://www.layui.com/doc/modules/flow.html">#(x.columns.fieldid)   [#(x.columns.fieldtype)] </a></div>
	                <p class="layui-text-center" title="#(x.columns.fielddesc)">#(x.columns.fielddesc)</p>
	                <div style="float:right;"><a class="layui-icon layui-icon-edit"  onclick="openedit('#(x.columns.id)')"></a>&nbsp;&nbsp;<a class="layui-icon layui-icon-delete" onclick="del('#(x.columns.id)')"></a></div>
	              </div>
	            </div>
            #end
            </div>
          </div>
          <div id="demo7" style="float:right;"></div>
</div>
</div>
<!-- 弹出层的内容 -->
	<div id='addFieldForm' style="display:none;padding-top:10px;padding-right:20px;">
        <form class="layui-form">
          <input type="text" name="fieldclass" style="display:none" value="#(id??)">
		  <div class="layui-form-item">
		    <label class="layui-form-label">字段名称(中文):</label>
		    <div class="layui-input-block">
		      <input type="text" name="fieldname" placeholder="请输入" autocomplete="off" class="layui-input">
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">字段标识(英文):</label>
		    <div class="layui-input-block">
		      <input type="text" name="fieldid" placeholder="请输入" autocomplete="off" class="layui-input">
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">字段类型:</label>
		    <div class="layui-input-block">
		      <select name="fieldtype" lay-filter="aihao">
		        <option value="String">String</option>
		        <option value="int">int</option>
		        <option value="long">long</option>
		        <option value="double">double</option>
		        <option value="float">float</option>
		        <option value="Date">Date</option>
		      </select>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">是否索引:</label>
		    <div class="layui-input-block">
		      <input type="radio" name="state" value="1" title="是">
		      <input type="radio" name="state" value="0" title="否" checked>
		    </div>
		  </div>
		  <div class="layui-form-item layui-form-text">
		    <label class="layui-form-label">字段描述:</label>
		    <div class="layui-input-block">
		      <textarea placeholder="请输入内容" class="layui-textarea" name="fielddesc"></textarea>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit lay-filter="tijiao">确认添加</button>
		      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		  </div>
		</form>
	</div>
#end


<!-- 引入额外的js -->
#define imp_js()
	<script>
 /* $(document).ready(function() {
	$.get(ctx + "/system/fieldManager/field?id="+id+"&pages=1&limit=9",
			function(data) {
    		 console.log(data.list);
    	      var parent=document.getElementById("listFieldAll");
    	      var list = data.list;
    	      var html = '<div class="layui-row layui-col-space10" id="listField">';
    	      for (var i = 0; i < list.length; i++) {				    	    	  
    	    	  var ht = '<div class="layui-col-xs12 layui-col-sm4"><div class="layuiadmin-card-text">'
                            +'<div class="layui-text-top"><i class="layui-icon layui-icon-water"></i><b>'+list[i].columns.fieldname+'</b></div>'
	               +' <div><a lay-href="http://www.layui.com/doc/modules/flow.html">'+list[i].columns.fieldid   +'   ['+list[i].columns.fieldtype +']</a></div>'
	               +'<p class="layui-text-center">'+list[i].columns.fielddesc+'</p><div style="float:right;"><a class="layui-icon layui-icon-edit"  onclick="openedit(&quot;'+list[i].columns.id+'&quot;)"></a>&nbsp;&nbsp;<a class="layui-icon layui-icon-delete"onclick="del(&quot;'+list[i].columns.id+'&quot;)"></a></div>'
	               +' </div>'
	               +' </div>'
	               html+=ht;
			  }
    	      html+='</div>'
              document.getElementById("listFieldAll").innerHTML = html;
    	      
			});
    
}); */
        var fieldtype = #(fieldJson??);
        var id = #(id??);
        var total = fieldtype.totalRow;
		layui.use(['laypage', 'layer'], function(){
			  var laypage = layui.laypage
			  ,layer = layui.layer;
			  //完整功能
			  laypage.render({
			    elem: 'demo7'
			    ,count: total
			    ,limit:9
			    ,limits:[6,9,12,15,18]
			    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
			    ,jump: function(obj){
			      //console.log(obj)
				    //obj包含了当前分页的所有参数，比如：
				    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
				    console.log(obj.limit); //得到每页显示的条数
				    if(laypage!=obj.curr){
				    	$.get(ctx + "/system/fieldManager/field?id="+id+"&pages="+obj.curr+"&limit="+obj.limit,
								function(data) {
					    		 console.log(data.list);
					    	      var parent=document.getElementById("listFieldAll");
					    	      var child=document.getElementById("listField");
					    	      parent.removeChild(child); 
					    	      var list = data.list;
					    	      var html = '<div class="layui-row layui-col-space10" id="listField">';
					    	      for (var i = 0; i < list.length; i++) {				    	    	  
					    	    	  var ht = '<div class="layui-col-xs12 layui-col-sm4"><div class="layuiadmin-card-text">'
	                                            +'<div class="layui-text-top"><i class="layui-icon layui-icon-note" style="position:relative;top:3px;"></i><b>'+list[i].columns.fieldname+'</b></div>'
						               +' <div><a lay-href="http://www.layui.com/doc/modules/flow.html">'+list[i].columns.fieldid   +'   ['+list[i].columns.fieldtype +']</a></div>'
						               +'<p class="layui-text-center" title="'+list[i].columns.fielddesc+'">'+list[i].columns.fielddesc+'</p><div style="float:right;"><a class="layui-icon layui-icon-edit"  onclick="openedit(&quot;'+list[i].columns.id+'&quot;)"></a>&nbsp;&nbsp;<a class="layui-icon layui-icon-delete"onclick="del(&quot;'+list[i].columns.id+'&quot;)"></a></div>'
						               +' </div>'
						               +' </div>'
						               html+=ht;
								  }
					    	      html+='</div>'
	/* 				    	      document.getElementById("listFieldAll").innerHTML = document.getElementById("insert").innerHTML.replace("<table><tbody><tr><td>"+modelId+"被选中</td></tr></tbody></table>","");   
	 */				    	      document.getElementById("listFieldAll").innerHTML = html;
					    	      
								});	
				    }

			    }
			  });
			  
			});
		
		 function openedit(id){
			    	var index;
			    		index = layui.layer.open({
			                title : "编辑字段",
			                type : 2,
			                area:["500px","500px"],
			                btnAlign: 'c', //按钮居中
			                content : ctx+"/system/fieldManager/edit/" + id,
			                success : function(layero, index){
			                   /*  var body = layui.layer.getChildFrame('body', index);
			                    console.log(body); */
			                },
			                end:function(){location.reload();}//弹出层结束后，刷新主页面}
			            })
			    
		 }
			    		
    		 function del(id){
			  layer.confirm('确定删除？', {icon: 3, title: '提示信息'}, function (index) {
                // 向服务端发送删除指令
				$.post(ctx + "/system/fieldManager/del?id=" + id,
                    function (data) {
                	layer.msg(data.message, {
              		  icon: 1,
              		  time: 1000 //1秒关闭（如果不配置，默认是3秒）
              		}, function(){
              			location.reload();
              		}); 
                	 
                  });
            });
		 }
		 /* 弹出新增页面 */
		 var addindex;
		function addField(){
			addindex = layer.open({
			  type: 1,
			  title: '新增#(type??)',
			  shadeClose: true,
			  shade: 0.5,
			  offset: '80px',
			  area: '480px',
			  content: $('#addFieldForm') //DOM
			});
		};
		/* 提交新增 */
		layui.use('form', function(){
			var $ = layui.$, 
			form = layui.form;
		  	form.on('submit(tijiao)', function(data){
		  		// 弹出loading
		  	    index2 = top.layer.msg('数据提交中，请稍候', {
		  	      icon : 16,
		  	      time : false,
		  	      shade : 0.5
		  	    });
		  		//data.field 当前容器的全部表单字段，名值对形式：{name: value}
		  	    $.post("/system/fieldManager/add", data.field, function(res) {
		  	        top.layer.close(index2);
		  	        layer.msg(res.message, {time: 1000 
		  	          }, function() {
		  	        	layer.close(addindex); //再执行关闭   
		  	        });
		  	    });
		  	    return false;
		  	});
		});
	</script>
#end
