#include("/common/admin_layout.html")

<!-- 调用layout函数 -->
#@layout()
<!-- 引入额外的css -->
#define css()
 
#end

<!-- 引入额外的js -->
#define js() #end
<!-- 主体内容 -->
#define content()

<style>
  /* 这段样式只是用于演示 */
  #LAY-component-grid-mobile-pc .layui-card-body{display: flex; justify-content: center; flex-direction: column; text-align: center; height: 200px;}
  </style>

  <div class="layui-fluid" id="LAY-component-grid-mobile-pc">
    <div class="layui-row layui-col-space10">
      <div class="layui-col-xs6 layui-col-md8">
        <!-- 填充内容 -->
        <div class="layui-card">
          <div class="layui-card-header"></div>
          <div class="layui-card-body"></div>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header"></div>
          <div class="layui-card-body"></div>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header"></div>
          <div class="layui-card-body"></div>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header"></div>
          <div class="layui-card-body"></div>
        </div>
      </div>
      <div class="layui-col-xs12 layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header"></div>
          <div class="layui-card-body"></div>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header"></div>
          <div class="layui-card-body"></div>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header"></div>
          <div class="layui-card-body"></div>
        </div>
      </div>
      <div class="layui-col-xs12 layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header"></div>
          <div class="layui-card-body"></div>
        </div>
      </div>
    </div>
  </div>
#end


<!-- 引入额外的js -->
#define imp_js()
  <script>
  layui.config({
    base: '/js/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index']);
  </script>
#end
 
 